<div class="row">
  <div class="container-fluid">
    <div class="word-list col-sm-6 col-sm-offset-3">
      <h3>Add a Definition for this Word</h3>

      <form action="/word/<%= @word.id() %>" method="post">
        <div class="form-group">
          <label>Add Word:</label>
          <input type="text" class="form-control" id="meaning" name="meaning" placeholder="Add definition">
        </div>
        <button type="submt" class="btn btn-success" name="Submit">Submit</button>
      </form>

      <p><a href="/word/<%= @word.id() %>">Back</a></p>
    </div>
  </div>
</div>
