<h1>Dictionary</h1>

<h3>List of Words:</h3>

<ul>
  <% @words.each() do |word|  %>
  <li><%= word.term() %></li>
  <% end %>
</ul>

<br>
<br>
<br>
<br>
<br>


<a href="/add_word">Add Word to Dictionary</a>
