<div class="row">
  <div class="container-fluid">
    <div class="word-list col-sm-6 col-sm-offset-3">

      <h1>Success!</h1>
      <h2>Your word has been added to the dictionary.</h2>

      <p><a href="/">Back</a></p>
    </div>
  </div>
</div>
