<div class="row">
  <div class="container-fluid">
    <div class="word-list col-sm-6 col-sm-offset-3">

      <h1>Success!</h1>
      <h2>Your definition has been added.</h2>

      <p><a href="/word/<%= @word.id() %>">Back</a></p>
    </div>
  </div>
</div>
