<h1>word and definition</h1>

<h2>Word:</h2>
<p><%= @word.term() %></p>

<h2>Definition:</h2>

<ul>
  <% @word.definitions().each() do |definition|  %>
  <li><%= definition.meaning() %></li>
  <% end %>
</ul>

<br>
<br>
<br>

<a href="/word/<%= @word.id() %>/add_definition">Add a definition for this word</a>
<br>
<a href="/">Return to Home</a>
