<h1>Add a Word to the Dictionary</h1>

<form action="/" method="post">
  <div class="form-group">
    <label>Add Word:</label>
    <input type="text" class="form-control" id="term" name="term" placeholder="Add word">
  </div>
  <button type="submt" class="btn btn-default">Submit</button>
</form>
