<h1>word and definition</h1>

<h2>Word:</h2>
<p><%= @word.term() %></p>

<h2>Definition:</h2>
<p></p>

<br>
<br>
<br>

<a href="#">Add a definition for this word</a>
<br>
<a href="/">Return to Home</a>
