<div class="row">
  <div class="container-fluid">
    <div class="word-list col-sm-6 col-sm-offset-3">
      <h3>Add a Word to the Dictionary</h3>

      <form action="/" method="post">
        <div class="form-group">
          <label>Add Word:</label>
          <input type="text" class="form-control" id="term" name="term" placeholder="Type in a cool word here to add it to Dictionary!">
        </div>
        <button type="submt" class="btn btn-success" name="Submit">Submit</button>
      </form>

      <p><a href="/">Back</a></p>
    </div>
  </div>
</div>
