body {
  background: #ccc;
}

.jumbotron {
  background: #444;
  color: #aaf;
  padding-left: 20px;
}

.jumbotron h1 {
  margin-top: 10px;
  display: inline;
}

.glyphicon-book {
  font-size: 4rem;
  transform: rotate(-15deg);
  margin-right: 10px;
}

/*--Main Conent Styles--*/

.word-list {
  background: #ddd;
}

.word-list h3 {
  border-bottom: 1px solid #999;
}

.word-list ul {
  margin-bottom: 50px;
  list-style: square;
}

.word-list li {
  font-size: 2rem;
}

.word-list p {
  font-size: 1.5rem;
  text-align: center;
}
